<!DOCTYPE html>
<html>
  <head>
    
    <title>My Favorite Recipes</title>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href=" /stylesheets/app.css"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
	  
  </head>
  <body>
	  <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				
				<span class="logo">
				  <a class="navbar-brand" href="/"><i class="fas fa-utensils"></i>  My Favorite Recipes</a>
				</span
				
			</div>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav navbar-right nav">
					

				</ul>
			</div>
		</div>
	</nav>