<% include partials/header %>


<div class="container">
	<div class="row">
	
		<h1 style="text-align:center">Create a New Recipe</h1>
		
		<div style="width:30%; margin:25px auto">
			<form action="/recipes" method="POST">
				<div class="form-group">
					<input class="form-control" type = "text" name="name" placeholder="Recipe Name">
					
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name = "image" placeholder="Image url">
					
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name = "rating" min=0, max=5, step= .5 placeholder="Rating from 1 to 5">
					
				</div>
				
				<div class="form-group">
					<input class="form-control" type="number" step="0.01" name = "cost" placeholder="Recipe Cost">
					
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name = "Link" placeholder="Recipe url">
					
				</div>
				
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
					
				</div>

			</form>
			<a href ="/recipes">Go Back</a>
		</div>
	

		
		
	</div>
	
</div>

<% include partials/footer %>