<% include partials/header %>

<h1>
	Register
</h1>
<p>Please enter a username and password, then click on the 'Sign Up' button.</p>
<form action="/register" method="post">
	<input type ="text" name = "username" placeholder="username">
	<input type = "password" name="password" placeholder="password">
	<button>Sign Up</button>
	
</form>

<% include partials/footer %>