<% include ../partials/header %>

<div class= "container">
	

	<header class="jumbotron">
		<div class="container"
			<h1>Welcome To My Favorite Recipes!</h1>
			
			<p>
				<a class="btn btn-primary btn-large" href = "/recipes/new">Add New Recipe <i class="fas fa-plus"></i></a>
			</p>
		</div>
	</header>




	<div class ="row text-center" style="display:flex; flex-wrap:wrap;">
		
		<% recipes.forEach(function(recipe){ %>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="recipeImage" src = "<%= recipe.image %>" >
				<div class="caption"><%= recipe.name %></div>
				<p>
					<a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More Information</a>
				</p>
			</div>
			
		</div>

		<% }); %>

	</div>
	

</div>


<% include ../partials/footer %>
