<% include partials/header %>

<h1>My Favorite Recipes</h1>

<p>The one and only app to keep track of all your favorite recipes!</p>

<a href="/recipes">View all the Recipes</a>

<% include partials/footer %>