<% include partials/header %>

	
<div class= "container-fluid">
	
	<div class="jumbotron" id="cover">
	  <div class="jumbotron">
		 <span class="logo"><h1><i class="fas fa-utensils"></i>  My Favorite Recipes</h1></span>

	  <p>The one and only app to keep track of all your favorite recipes!</p>

	  <h2>
		  <a href="/recipes">View all the Recipes</a> 
		  </h2>
		</div>
     
	</div>
	
		
	

</div>	
	

	


<% include partials/footer %>


